<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:mvc="http://www.springframework.org/schema/mvc"
    xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/mvc  
        http://www.springframework.org/schema/mvc/spring-mvc.xsd">  

   <!-- SpringMVC 扫描包 -->
   <context:component-scan base-package="com.spring.controller" />
   
    <!-- springMVC 默认处理器 -->
    <mvc:default-servlet-handler />

    <!-- springMVC  -->
    <mvc:annotation-driven conversion-service="conversionService">
        <!-- Ajax json数据传输 -->
         <mvc:message-converters >
            <bean class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
                <property name="objectMapper" ref="objectMapper"/>
                <property name="supportedMediaTypes">  
                    <list>  
                        <value>application/json;charset=UTF-8</value>  
                    </list>  
                </property> 
            </bean>   
        </mvc:message-converters> 
    </mvc:annotation-driven>
            <bean class="org.springframework.data.repository.support.DomainClassConverter">
               <constructor-arg ref="conversionService" />
            </bean>
            <bean id="conversionService" class="org.springframework.format.support.FormattingConversionServiceFactoryBean"/>
     <!-- Ajax json数据传输 -->
     <bean id="objectMapper" class="org.springframework.http.converter.json.Jackson2ObjectMapperFactoryBean"
        p:indentOutput="true"
        p:simpleDateFormat="yyyy-MM-dd"
        p:modulesToInstall="com.fasterxml.jackson.module.paramnames.ParameterNamesModule"
    />

    <!-- 对view层的设置，对返回值前增加前后缀 -->
    <bean id="jspViewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="viewClass" value="org.springframework.web.servlet.view.JstlView"/>
        <!-- 返回字符串前缀 -->
        <property name="prefix" value="/WEB-INF/jsp/"/>
        <!-- 返回字符串后缀 -->
        <property name="suffix" value=".jsp"/>
    </bean>   

</beans>

